ejercicio10.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "86ce4a3e-4315-4028-9d21-0170d384b8d9",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2160,
        -416
      ]
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?q=tesla&sortBy=publishedAt&apiKey=e55d876af3534700b16c6a5980ee5abf",
        "options": {}
      },
      "id": "14801a03-7d2d-47e3-a7c9-74da256a7883",
      "name": "Get News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1968,
        -416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"status\"]}}",
              "value2": "ok"
            }
          ]
        }
      },
      "id": "a6764e94-b589-4e3a-b1aa-93fe17a1b5cb",
      "name": "Check API Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1760,
        -416
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {}
      },
      "id": "a94b7373-6bba-4b07-be9f-77df3d21435f",
      "name": "Split Articles",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -1568,
        -416
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "fce4d29d-bf5c-4f6c-b59b-a82c6530ba2c",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1360,
        -416
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b69a261c-33f3-41de-b1d4-10e94ac89dcc",
      "name": "Clean Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1168,
        -416
      ]
    },
    {
      "parameters": {
        "modelId": "gpt-4o-mini",
        "responses": {
          "values": [
            {
              "content": "=[\n  {\n    \"role\": \"user\",\n    \"content\": \"Actúa como un clasificador de noticias.\\n\\nClasifica la siguiente noticia en UNA de estas categorías:\\n- Tecnología\\n- Negocios\\n- Política\\n- Otros\\n\\nResponde SOLO con el nombre de la categoría.\\n\\nNoticia:\\nTítulo: {{ $('Get News').item.json.articles[0].title }}\\nDescripción: {{ $('Get News').item.json.articles[0].description }}\\nContenido: {{ $('Get News').item.json.articles[0].content }}\n  }\n]"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "65165045-378d-410f-94b3-031d94abefdd",
      "name": "Classify with AI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -960,
        -416
      ],
      "credentials": {
        "openAiApi": {
          "id": "AGqyK3XwT2gkvw6h",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b2e568bd-4dae-4f58-8444-c86ded6fa5b1",
      "name": "Final Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -672,
        -416
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get News": {
      "main": [
        [
          {
            "node": "Check API Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Status": {
      "main": [
        [
          {
            "node": "Split Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Articles": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Classify with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify with AI": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fddb7eb1f9d8ab3fabc315e1f703eabdba49242dd1c2e33a3a1a31d80dd61528"
  }
}