ejercicio13.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "ab9f32f7-ee69-4cfa-9f9b-209a748ea2ce",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -3584,
        -80
      ]
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/comments",
        "options": {}
      },
      "id": "07238d02-f196-4715-8546-4332c7dc2a37",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -3360,
        -80
      ]
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "id": "8fc02893-9242-4b24-8471-efefaf902112",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -3184,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{$json.body.length}}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "larger"
              },
              "id": "2bc93469-f0fa-483c-a71b-8d2cf1622248"
            },
            {
              "id": "deeb27c7-912d-4083-9fde-e8d072dfad22",
              "leftValue": "={{$json.body.length}}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a91e1f6-e9e8-4981-91a2-8893dcbb4295",
      "name": "Filtro Comentarios",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2976,
        -80
      ]
    },
    {
      "parameters": {
        "modelId": "gpt-4o-mini",
        "responses": {
          "values": [
            {
              "content": "Analiza este comentario:\\n{{$json.body}}\\n\\nDevuelve SOLO JSON válido:\\n{\\n \"sentimiento\":\"POSITIVO|NEGATIVO|NEUTRAL\",\\n \"urgencia\":\"ALTA|MEDIA|BAJA\",\\n \"categoria\":\"QUEJA|DUDA|GENERAL\"\\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "e73c83d0-6603-4def-87fa-75866862e9da",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -2768,
        -96
      ],
      "credentials": {
        "openAiApi": {
          "id": "AGqyK3XwT2gkvw6h",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { const raw = item.json.output?.[0]?.content?.[0]?.text || '{}'; const clean = raw.replace(/```json|```/g,'').trim(); try { return { json: JSON.parse(clean) }; } catch(e) { return { json: { error:true, raw } }; } });"
      },
      "id": "6b342860-815e-4db5-a750-b20b09f62538",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2496,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "leftValue": "={{$json.sentimiento}}",
              "rightValue": "NEGATIVO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{$json.urgencia}}",
              "rightValue": "ALTA",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "bea15a37-9be6-454a-981f-e1bfea91fd8a",
      "name": "IF Alerta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2320,
        -96
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ee6d0244-7b95-4bfe-a692-e6da804e37ac",
      "name": "Guardar Alerta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -2096,
        -176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9ca1c39e-ad53-43e8-9ae3-3b1878ed1802",
      "name": "Guardar Normal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -2096,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hyrpzraLpmy_aMt_gHVH6fMBYdnH7W_xcYUtrmRttHc",
          "mode": "list",
          "cachedResultName": "actividad 15",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hyrpzraLpmy_aMt_gHVH6fMBYdnH7W_xcYUtrmRttHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hyrpzraLpmy_aMt_gHVH6fMBYdnH7W_xcYUtrmRttHc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{$now}}",
            "Comentario": "={{$json.comentario}}",
            "Sentimiento": "={{$json.sentimiento}}",
            "Urgencia": "={{$json.urgencia}}",
            "Categoria": "={{$json.categoria}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comentario",
              "displayName": "Comentario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentimiento",
              "displayName": "Sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgencia",
              "displayName": "Urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1840,
        -176
      ],
      "id": "a54dc916-3911-4441-b6f5-16c203a51a1b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dAckTbhGJj5Yvgzn",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Filtro Comentarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Comentarios": {
      "main": [
        [],
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "IF Alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Alerta": {
      "main": [
        [
          {
            "node": "Guardar Alerta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Alerta": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fddb7eb1f9d8ab3fabc315e1f703eabdba49242dd1c2e33a3a1a31d80dd61528"
  }
}