ejercicio12.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "da89605b-0b1e-419c-ba18-b8a0852dc781",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1968,
        -416
      ]
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts",
        "options": {}
      },
      "id": "8f45a662-0363-4158-b5a1-429d191c8842",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1744,
        -416
      ]
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "id": "f364f416-bf7f-4958-8841-6fa2e705663e",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1552,
        -416
      ]
    },
    {
      "parameters": {
        "modelId": "gpt-4o-mini",
        "responses": {
          "values": [
            {
              "content": "Analiza el siguiente texto: {{$json.body}}\\n\\nResponde SOLO JSON válido con este formato:\\n{\\n  \"categoria\": \"EDUCATIVO | QUEJA | GENERAL\",\\n  \"sentimiento\": \"POSITIVO | NEGATIVO | NEUTRAL\",\\n  \"urgencia\": \"ALTA | MEDIA | BAJA\"\\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "a13b8d7f-1566-46c5-b3c7-0f5461f04a00",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -1344,
        -416
      ],
      "credentials": {
        "openAiApi": {
          "id": "AGqyK3XwT2gkvw6h",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { const raw = item.json.output?.[0]?.content?.[0]?.text || '{}'; const clean = raw.replace(/```json|```/g,'').trim(); try { return { json: JSON.parse(clean) }; } catch(e) { return { json: { error:true, raw } }; } });"
      },
      "id": "854bc273-3336-43cc-ac7c-21f4ed5ba34e",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        -416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "leftValue": "={{$json.sentimiento}}",
              "rightValue": "NEGATIVO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{$json.urgencia}}",
              "rightValue": "ALTA",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "889648fd-2f59-4856-898e-2ba6478f9835",
      "name": "IF Alerta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -912,
        -416
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "45a576d9-8743-416d-9113-c2d6eb7a04fd",
      "name": "Alerta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -688,
        -496
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8624be4c-f9c5-44a9-9e15-632b390f34ed",
      "name": "Normal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -688,
        -336
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "IF Alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Alerta": {
      "main": [
        [
          {
            "node": "Alerta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fddb7eb1f9d8ab3fabc315e1f703eabdba49242dd1c2e33a3a1a31d80dd61528"
  }
}